footer{
    position: relative;
    bottom: 0;
    height: 150px;
    background-color: rgba(3, 2, 2, 1);
}

.main_footer{
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: top;
}

.main_footer h3{
    padding-bottom: 5px;
    color: #dac9c1;
}

.main_footer p{
    color: #dac9c1;
}

.main_footer a{
    color: #dac9c1;
}

.main_footer>div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main_footer>div>div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.main_footer img{
    width: 20px;
}

.footer_rights{
    padding-top: 20px;
    background-color: rgba(3, 2, 2, 1);
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer_rights p{
    color: #dac9c1 ;
    margin-bottom: 10px;
}

@media (max-width: 800px){
    footer{
        width: 100%;
        height: auto;
    }
    .main_footer{
        display: block;
        width: 300px;
        margin: 0 auto;
    }

    .main_footer>div{
        max-width: 300px;
        width: 100%;
        margin-bottom: 20px;
    }
}