header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 60px;
    padding: 2px 0;
}


.list{
    list-style: none;
    display: flex;
    gap: 2rem;
}

.links{
    text-decoration: none;
    color: #dac9c1;
    font-weight: bold;
    font-size: 1rem;
}

.active_link{
    color: #e1790c !important;
}

.links:hover{
    color: #e1790c;
}

.toggle_btn{
    cursor: pointer;
    height: 40px;
    width: 40px;
    display: none;
    transition: all .5s ease-in-out;
}

.toggle_btn_burguer{
    width: 30px;
    height: 3px;
    background-color: #dac9c1;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.toggle_btn_burguer::before,
.toggle_btn_burguer::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #dac9c1;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.toggle_btn_burguer::before{
    transform: translateY(-10px);
}

.toggle_btn_burguer::after{
    transform: translateY(10px);
}

.toggle_btn_open .toggle_btn_burguer{
    transform: translateX(-50px);
    background: transparent;
}

.toggle_btn_open .toggle_btn_burguer::before{
    transform: rotate(45deg) translate(35px, -35px);
}

.toggle_btn_open .toggle_btn_burguer::after{
    transform: rotate(-45deg) translate(35px, 35px);
}

.login{
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    font-weight: bold;
    background-color: #e1790c;
    padding: 0.5rem 1rem;
    border:none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
}

.logout{
    display:none;
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    font-weight: bold;
    background-color: #e1790c;
    padding: 0.5rem 1rem;
    border:none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
}

.sign_out{
    display: block !important;
}

.login:hover{
    scale:1.05;
}

.dropdown_menu{
    display: none;
    z-index: 3;
    position: absolute;
    right: 2rem;
    top:60px;
    height: 0;
    width: 300px;
    background-color: rgb(255, 255,255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 290px;
}

.dropdown_menu li{
    padding:  0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .login{
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar_buttons{
    display: flex;
    gap: 10px;
}


@media (max-width: 768px){
    .navbar .login,
    .navbar .links{
        display: none;
    }

    .navbar .toggle_btn{
        display: flex;
        justify-content: center;
        align-items: center; 
    }

    .dropdown_menu{
        display: block;
    }
}

@media (max-width: 425px) {
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}